[user]
	name = Rushil Umaretiya
	email = rushilwiz@gmail.com
	signingkey = 9E61309B1513E262F6A766E14E8FAF9C926AF959
[core]
	sshCommand = ssh
	autocrlf = input
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = true
